.Rproj.user
.Rhistory
.RData
.Ruserdata

venv
.env

# Data
data/
.env
data/raw/
data/processed/
mlruns/

# Python cache
__pycache__/
*.pyc

# MLflow local DB
mlflow.db

# Pytest cache
.pytest_cache/
.coverage
htmlcov/
